Flask
Werkzeug
requests
moviepy==1.0.3
openai-whisper
gunicorn
APScheduler
srt
numpy>=1.22,<2.1.0
onnxruntime==1.20.1
torch>=2.0
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-storage
psutil
boto3
Pillow
matplotlib
yt-dlp
edge-tts
asyncio
kokoro-onnx==0.4.7
soundfile
wget
jsonschema>=4.17.3
