Flask
Werkzeug
requests
ffmpeg-python
openai-whisper
gunicorn
APScheduler
srt
numpy
torch
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-storage
psutil
boto3
Pillow
matplotlib
yt-dlp
edge-tts>=7.0.1
aiohttp>=3.8.1
nltk>=3.8.1
jsonschema>=4.17.3
