Flask
Werkzeug
requests
nltk==3.8.1
openai-whisper
gunicorn
APScheduler
srt
numpy>=1.22,<2.1.0
onnxruntime==1.20.1
torch>=2.0
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-storage
psutil
boto3
Pillow==9.5.0
matplotlib
yt-dlp
edge-tts
asyncio
kokoro-onnx==0.4.7
soundfile
wget
jsonschema>=4.17.3
ffmpeg-python>=0.2.0
